#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.footer-links-container {
    margin: 40px 25% 150px 25%;
    justify-content: center;
}

footer {
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px rgb(202, 202, 202);
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    left : 0px;
    right : 0px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 0.90em;
    margin: 0 10px;
}

h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 20px; 
    color: #111111;
}

body {
    margin: 50px 0 0 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 90vh;
    background-color: #f0f0f0;
}

/* Search */

.search-box {
    align-items: center;
    justify-content: center;
}
  
.search-input {
    font-size: 16px;
    padding: 15px 30px 15px 30px;
    background-color: #e8e8e8;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
    margin-right: -20px;
    width: 500px;
}

.search-input:focus {
    outline: none;
    border: 1px solid black;
}
  
.search-button {
    font-size: 18px;
    padding: 13px 20px 13px 20px;
    background-color: #1e3db3;
    border: 2px solid #1e3db3;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: black;
    border: 2px solid black;
}

.search-error {
    align-content: center;
    margin: 0 60px 0 60px;
}
  
/* Book container */
  
.book {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}
  
.book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 30px;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 20px #dcdcdc;
    color: black;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 50px;
}
  
.book-image {
    width: 100%;
    height: 60%;
}
  
.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.book-title {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.book-author {
    font-size: 1rem;
    margin: 0;
}
  
.book-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
  
.book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
  
.book-button button {
    padding: 17px 20px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 12px;
    width: 100%;
}
  
.book-button button:hover {
    background-color: #1e3db3;
}
  
/* Cart */

.cart-containter-2 {
    color: black;
    font-size: 1.2em;
}

.cart-container {
    display: flex;
    gap: 1.75rem;
    flex-direction: column;
    margin-top: 50px;
    color: black;
}
  
.cart-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1.5rem 2.5em 1rem 2.5em;
    width: 500px;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 20px #dcdcdc;
    border-radius: 20px;
}
  
.cart-item-name {
    font-weight: bold;
}
  
.cart-item-quantity {
    display: flex;
    align-items: center;
}
  
input[type="number"] {
    width: 70px;
    margin-left: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
}
  
.cart-total p {
    font-size: 25px;
    font-weight: 700;
}
  
.checkout-btn {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 800;
    background-color: #1e3db3;
    color: #fff;
    border: solid 3px white;
    border-radius: 15px;
    cursor: pointer;
}
  
.checkout-btn:hover {
    background-color: #000000;
    border: solid 3px white;
}

/* Login and registration */

.login-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
}
  
.login-header {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.login-box {
    background-color: #f0f0f0;
    box-shadow: 1px 1px 20px #dcdcdc;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 300px;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
label {
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
    text-align: left;
    font-size: 0.7em;
}
  
input {
    border: none;
    background-color: #e7e6e6;
    color: black;
    padding: 1rem;
    font-size: 1em;
    border-radius: 8px;
    margin-bottom: 0.8rem;
}
  
.login-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.2em;
}
  
.login-button:hover {
    background-color: #1e3db3;
}
  
.login-below-button {
    font-size: 0.9rem;
    margin-top: 1rem;
}
  
.error-msg {
    color: rgb(255, 36, 36);
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px 15px 10px 15px;
    border: solid red 0.5px;
    border-radius: 8px;
    margin-top: 1rem;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 20px rgb(202, 202, 202);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-home {
    margin-left: 7em;
}

.nav-right-items {
    margin-right: 7em;
}
  
.nav-item {
    margin-left: 40px;
}
  
.nav-link {
    color: black;
    text-decoration: none;
    padding: 10px;
}
  
.nav-link:hover {
    color: #3050ca;
    background-color: #dedede;
    padding: 10px;
    border-radius: 8px;
}
  
/* Orders */

.order-header {
    margin-bottom: 40px;
}

.back-to-home-link {
    color: rgb(111, 111, 111);
    background-color: #e7e6e6;
    padding: 10px 20px;
    border-radius: 20px;
}

.back-to-home-link:hover {
    color: black;
    background-color: #dadada;
}
